.p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #0C0C0C;
    
}

.containerProject {
    max-width: 930px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;

}

.textProject h1{
    color: rgba(102, 16, 242, 1);
    margin: 15px 0;
}

